<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</canvas>
<canvas id="myChart"></canvas>
<body>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                    <% @measurements.each do |measurement| %>
            '<%= measurement.time %>',
                    <% end %>
            ],
            datasets: [{
                label: 'Temperature',
                yAxisID: 'y-axis-0',
                data: [
                    <% @measurements.each do |measurement| %>
                    <%= measurement.temperature %>,
                    <% end %>
                ],
                backgroundColor: "rgba(153,255,51,0.4)"
            },
                {
                label: 'Dew point',
                yAxisID: 'y-axis-0',
                data: [
                    <% @measurements.each do |measurement| %>
                    <%= measurement.dew_point %>,
                    <% end %>
                ],
                backgroundColor: "rgba(255,153,0,0.4)"
            },
                {
                    label: 'Relative humidity',
                    yAxisID: 'y-axis-1',
                    data: [
                        <% @measurements.each do |measurement| %>
                        <%= measurement.relative_humidity %>,
                        <% end %>
                    ],
                    backgroundColor: "rgba(255,103,0,0.4)"
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    position: "left",
                    "id": "y-axis-0"
                }, {
                    position: "right",
                    "id": "y-axis-1"
                }]
            }
        }
    });
</script>
</body>
